@import "../common/variables";
@import "../common/mixins";

.mask-datatime {
  .mask(rgba(0, 0, 0, .4), @base-zindex * 500);
}

.m-datetime {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: @base-zindex * 1000;
  background-color: #FFF;
  transform: translate(0, 100%);
  transition: transform .3s;
  height: 40px * 8 + 35px;
}

.datetime-active {
  transform: translate(0, 0);
}

.datetime-header {
  display: flex;
  background-color: #FFF;
  position: relative;
  a {
    padding: 0 20px;
    height: 40px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    font-size: 15px;
    color: #555;
    &:last-child {
      color: #04BE02;
    }
  }
  &:after {
    .bottom-line(#d9d9d9);
  }
}

.datetime-tip {
  width: 100%;
  height: 35px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #999;
  font-size: 12px;
  position: relative;
  a {
    display: block;
    flex: 1;
  }
  &:after {
    .bottom-line(#d9d9d9);
  }
}

.datetime-content {
  display: flex;
  height: 40px * 7;
  overflow: hidden;
  position: relative;
  .datetime-item-box {
    overflow: hidden;
    height: 100%;
    flex: 1;
    &.fuck {
      background-color: #F5F5F5;
    }
  }
}

.datetime-item {
  width: 100%;
  height: 100%;
  display: block;
  &:first-child {
    background-color: #F00;
  }
  > a {
    color: #333;
    font-size: .3rem;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    justify-content: center;
    &:active {
      background: none; /* for firefox */
    }
    &.cityselect-item-active {
      color: #F23030;
      &:after {
        display: block;
        content: '\E600';
        font-family: @iconfont-inlay;
      }
    }
  }
}

.datetime-indicator {
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  margin-top: -.4rem;
  pointer-events: none;
  z-index: 999;
  &:after {
    .top-line(#CCC);
  }
  &:before {
    .bottom-line(#CCC);
  }
}
