.m-flexbox {
  display: flex;
  align-items: center;
  &.flexbox-horizontal {

  }
  &.flexbox-vertical {
    flex-direction: column;
    height: 100%;
    .flexbox-item {
      width: 100%;
    }
  }
  .flexbox-item {
    flex: 1;
    &.flexbox-item-start {
      align-self: flex-start;
      justify-self: flex-end;
    }
    &.flexbox-item-center {
      align-self: center;
    }
    &.flexbox-item-end {
      align-self: flex-end;
    }
  }
}
